html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}.clearfix{display:inline-block;}html[xmlns] .clearfix{display:block;}* html .clearfix{height:1%;}

body {
	background-color: #fff;
	color: #021E6D;
	font-family: "Verdana", sans-serif;
}

canvas {
	background: #fff;
	display: block;
}

.orange {
	color: #FD9E3D;
}

.blue {
	color: #021E6D;
}

.twoem {
	font-size: 2em;
}

.left, .right {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.left {
	width: 900px;
}

.right {
	padding-top: 50px;
	width: 400px;
}

.right p {
	font-size: 1.25em;
	text-transform: uppercase;
	text-align: center;
}

.border {
	position: absolute;
	left: 350px;
	top: 50px;
	border: solid 2px blue;
	border-radius: 20px;
	width: 500px;
	height: 600px;
	z-index: 1;
}

.whiteboard {
	background-color: #fff;
	position: absolute;
	top: 50px;
	left: 50px;
	width: 500px;
	height: 620px;
	z-index: 2;
}

img {
	position: relative;
	top: -20px;
	left: -20px;
}

.disablestream {
	position: relative;
	top: 140px;
}

.right ul {
	padding: 0;
}

.right ul li {
	list-style: none;
	color: #ddd;
	font-weight: bold;
	border: solid 3px #ddd;
	border-radius: 4px;
	text-transform: uppercase;
	margin-top: 30px;
	padding: 10px;
}
